@font-face {
    font-family: 'robotoregular';
    src: url('Roboto_web_fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot');
    src: url('Roboto_web_fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('Roboto_web_fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff2') format('woff2'), url('Roboto_web_fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'), url('Roboto_web_fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'), url('Roboto_web_fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'robotolight';
    src: url('Roboto_web_fonts/roboto_light_macroman/Roboto-Light-webfont.eot');
    src: url('Roboto_web_fonts/roboto_light_macroman/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('Roboto_web_fonts/roboto_light_macroman/Roboto-Light-webfont.woff2') format('woff2'), url('Roboto_web_fonts/roboto_light_macroman/Roboto-Light-webfont.woff') format('woff'), url('Roboto_web_fonts/roboto_light_macroman/Roboto-Light-webfont.ttf') format('truetype'), url('Roboto_web_fonts/roboto_light_macroman/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('Roboto_web_fonts/roboto_bold_macroman/Roboto-Bold-webfont.eot');
    src: url('Roboto_web_fonts/roboto_bold_macroman/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('Roboto_web_fonts/roboto_bold_macroman/Roboto-Bold-webfont.woff2') format('woff2'), url('Roboto_web_fonts/roboto_bold_macroman/Roboto-Bold-webfont.woff') format('woff'), url('Roboto_web_fonts/roboto_bold_macroman/Roboto-Bold-webfont.ttf') format('truetype'), url('Roboto_web_fonts/roboto_bold_macroman/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}



h1 {
    font-family: 'robotolight', Arial, sans-serif;
    font-size: 2.2em;
   
}

h2 {
    font-family: 'robotolight', Arial, sans-serif;
    font-size: 1.2em;
}

h3{
    font-family: 'robotobold', Arial, sans-serif;
    font-size: 1.8em;
}


h4{
    font-family: 'robotobold', Arial, sans-serif;
    font-size: 1.4em;
    text-align: center;
    background-color: darkgray;
    color: #FDD835;
}

#conteneur {
    display: flex;
    font-family: 'robotoregular', Arial, sans-serif;
}

#conteneur_yellow {
    width: 30%;
    
    background-color: #FDD835;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    
}

#conteneur_white
{
    padding: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
}



.date_exp {
    display: flex;
    justify-content: space-between;
}

.date {
    width: 30%;
}

.diplomexp {
    width: 50%;
}

.prenom {
    font-family:'robotoregular', Arial, sans-serif;
}
